.container {
  width: calc(100% - 32px);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.paggination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  gap: 16px;
}

.list-item {
  padding: 16px;
  border: 1px var(--color-border-light) solid;
  border-radius: 8px;
}

@media (width < 960px) {
  .list {
    display: flex;
    flex-direction: column;
  }
}

@media (width >= 960px) {
  .container {
    width: 960px;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
