.divider {
  height: 1px;
}

.extra-light {
  background-color: var(--color-border-extra-light);
}

.light {
  background-color: var(--color-border-light);
}

.medium {
  background-color: var(--color-border-medium);
}
