.container {
  border: 1px var(--color-border-light) solid;
  border-radius: 8px;
  padding: 16px;
  height: 100%;
}

.body {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
